<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/skeleton.css">
    </head>
    <body>
        <div class="container">
            <h1> <%=budget.name%> </h1>
            <button type="button" name="button" onclick="window.location.href= '/budget' ">BACK</button>
        <dl>
            <dt> date</dt>
            <dd> <%=budget.date%> </dd>
            <dt> name </dt>
            <dd> <%=budget.name%> </dd>
            <dt> from </dt>
            <dd> <%=budget.from%> </dd>
            <dt> amount </dt>
            <dd> <%=budget.amount%> </dd>
            <dt> tags </dt>
            <dd> <%=budget.tags%> </dd>
        </dl>
        </div>
    </body>
</html>
